<div class="ticketbuttoncontainer">
    <button class="ticketButtonToggler right"> BUY TICKET </button> 
    
    <div class="ticketButton" style="display:none">

        <div id="ticket-button-container">
                <input type="hidden" name="descriptionInput" id="description" class="performerchoice" value="{{performer_name}}">
                </input>
                <h1 class="step-headline">BUY TICKET FOR {{performer_name}}</h1>
                <img src="{{url}}">
            
                <p class="tip_description">Buy access to {{performer_name}}'s performance friday the 30th of October 2020, 19-21 CET<br>
                <strong style="font-size: 20px"> € 13 </strong><br><br>
                Submit your email above to obtain access and instructions to the Digital Dungeon, <br>
                and declare your username {{username}} when logging in to use your ticket

                </p>
              
                 <h1 class="step-headline"></h1> 

            

        </div>
        <p class="ticketButtonUntoggler" >Let me exit. I dont want this ticket</p> 


    </div> 
</div>

