<button id="menutrigger"> {{name}} </button>

<div id="usermenu">
    <img id="thumbnail" src="../menuframepic.png">
    <button id="menucloser"> X </button>
    <li> {{name}}
    <li> {{email}}
    <li> {{city}}
    <li> {{age}}
    <li> {{url}}
    <li> <a href="/updateprofile"> update profile </a>
    <li> <a href="/logout">log out</a>

    <li id="deletesignaturelink"> <a href="/deletesignature"> if u want to delete your signature, u can click here </a>

</div>



<script src = "../menu.js"></script>
