<h1> list of superfans </h1>

<ul id="co-signers">
    {{#co_signers}}
    <div class="co-signer">
    <img id="avatar" src="../anistonhappy.gif" alt="aniston avatar">
    <p>{{firstname}} {{lastname}} // {{age}} // <a href="/allsignatures/{{city}}"> {{city}} </a> </p>
</div>
    {{/co_signers}}
</ul>


<ul id="city_specific_co_signers">
<p>{{searchcity}}</p>
{{#city_specific_co_signers}}
<li >{{firstname}} {{lastname}} // {{age}} </a>
{{/city_specific_co_signers}}
</ul>

<a href="/thankyou"> <button id="returntothankyou"> return to letter </button> </a>


{{> usermenu}}
