




{{#if captcha}}
    {{>captcha}}
{{else}}
    {{!-- {{>popup name=name}} --}}
{{/if}}

<div class="frontpage">
    <div class="strip">
     <img class="right strip" src="/assets/goddessvanessa.gif">
    </div>


    <div class="main-content">
        <div class="headline">PLAY 4 US NOW <br>{{name}}</div>
   
        <div class="row changing_to_column">
            <div class="performers column">
                    {{#performers}}
                        <div class="performer">
                            <img class="thumbnail"src="/assets/goddessvanessa.gif">
                            <p>{{name}}{{service}}</p>
                        </div>
                    {{/performers}}
            </div>

            <div class="performers column">
                    {{#performers2}}
                        <div class="performer">
                            <img class="thumbnail" src="/assets/goddessvanessa.gif">
                            <p>{{name}}{{service}}</p>
                        </div>
                    {{/performers2}}
            </div>
        </div>

         <div class="row">
           <a class="action">
                <p>BROWSE</p> 
           </a>
            <a class="action">
                <p> SUBMIT</p>
           </a>
            <a class="action pay">
                <p> PAY</p> 
           </a>
         
        </div>
        <div class="signup-block">
            <img class="background-image" src="/assets/sexy.png">
            {{>signup name=name}}
        </div>
      

        <div class="payment">
            {{>payment name=name}}
        </div>

      

       
    </div>

    <div class="strip">
         
        <img class="left" src="/assets/goddessvanessa.gif">
        <img src="/assets/logo.webp">
        <div class="ticker">
            <div id="headlines1" class="headlines">
                <a class="ticker-object">play 4 us now </a>
                <a class="ticker-object"><p class="header-gif">we see you {{name}}</p></a>
                <a class="ticker-object">play 4 us now </a>
                <a class="ticker-object"><p class="header-gif">we see you {{name}}</p></a>
                <a class="ticker-object">play 4 us now </a>
                <a class="ticker-object"><p class="header-gif">we see you {{name}}</p></a>
            </div>
        </div>
    </div>
</div>



   












