






<div class="frontpage">
    <div class="strip">
     <img class="right strip" src="/assets/goddessvanessa.gif">
    </div>


    <div class="main-content">
        <div class="headline">PLAY 4 US NOW <br>{{name}}</div>
   
        <div class="row">
            <div class="performers column">
                    {{#performers}}
                        <div class="performer">
                            <img class="thumbnail"src="/assets/goddessvanessa.gif">
                            <p>{{name}}{{service}}</p>
                        </div>
                    {{/performers}}
            </div>

            <div class="performers column">
                    {{#performers2}}
                        <div class="performer">
                            <img class="thumbnail" src="/assets/goddessvanessa.gif">
                            <p>{{name}}{{service}}</p>
                        </div>
                    {{/performers2}}
            </div>
        </div>
        <div id="paypal-button-container">
            <div id="smart-button-container">

                <div><label for="description">PERFORMER </label><input type="text" name="descriptionInput" id="description" maxlength="127" value="">
                    <p id="descriptionError" style="display: none; color:white;">Please pick a performer</p>
                </div>
                <div><label for="amount">TIP </label><input name="amountInput" type="number" id="amount" value="" placeholder="10" ><span> EUR</span>
                    <p id="priceLabelError" style="display: none; color:white;">Please enter a price</p>
                </div>
            </div>
        </div>

        <div class="signup-block">
            <img class="background-image" src="/assets/goddessvanessa.gif">
            {{>signup name=name}}
        </div>


    </div>

    <div class="strip">
         
        <img class="left" src="/assets/goddessvanessa.gif">
        <img src="/assets/logo.webp">
        <div class="ticker">
            <div id="headlines1" class="headlines">
                <a class="ticker-object">play 4 us now </a>
                <a class="ticker-object"><p class="header-gif">we see you {{name}}</p></a>
                <a class="ticker-object">play 4 us now </a>
                <a class="ticker-object"><p class="header-gif">we see you {{name}}</p></a>
                <a class="ticker-object">play 4 us now </a>
                <a class="ticker-object"><p class="header-gif">we see you {{name}}</p></a>
            </div>
        </div>
    </div>
</div>



   
{{#if captcha}}
    {{>captcha}}
{{else}}
    {{>popup name=name}}
{{/if}}











