
{{#if captcha}}
    {{>captcha}}
{{else}}

<div class="frontpage">
    <div class="strip">
     <img class="right strip" src="/assets/goddessvanessa.gif">
    </div>


    <div class="main-content">
        <div class="ticker topticker">
            <div id="headlines3" class="headlines">
                <a class="ticker-object">play 4 us now </a>
                <a class="ticker-object"><p class="header-gif">your data is so sexy {{name}}</p></a>
                <a class="ticker-object">play 4 us now </a>
                <a class="ticker-object"><p class="header-gif">your data is so sexy  {{name}}</p></a>
                <a class="ticker-object">play 4 us now </a>
                <a class="ticker-object"><p class="header-gif">your data is so sexy  {{name}}</p></a>
            </div>
        </div>

        <div class="headline-container">
            <img class="headline-logo" src="assets/logo.webp">
            <h1 class="headline">PLAY 4 US NOW <br>{{name}}</h1>
        </div>

        <div class="fronpage-div">
        {{>description}}
        </div>

        <div class="row changing_to_column performers">
            <div class="performers column">
                    {{#performers}}
                        {{>performer name=name url=url action=action service=service information=information}}
    
                    {{/performers}}
            </div>

            <div class="performers column">
                    {{#performers2}}
                        {{>performer name=name url=url action=action service=service information=information}}

                    {{/performers2}}
            </div>
        </div>

       
        <div class="signup-block">
            <img class="background-image" src="/assets/sexy.png">
            {{>signup name=name}}
        </div>
      

        <div class="payment">
            {{>payment name=name}}
        </div>

        <div class="ticker">
            <div id="headlines2" class="headlines">
                <a class="ticker-object">play 4 us now </a>
                <a class="ticker-object"><p class="header-gif">we see you {{name}}</p></a>
                <a class="ticker-object">play 4 us now </a>
                <a class="ticker-object"><p class="header-gif">we see you {{name}}</p></a>
                <a class="ticker-object">play 4 us now </a>
                <a class="ticker-object"><p class="header-gif">we see you {{name}}</p></a>
            </div>
        </div>





  

      

       
    </div>

    <div class="strip">
         
        <img class="left" src="/assets/goddessvanessa.gif">
        <img src="/assets/logo.webp">
        
    </div>
</div>
    {{>popup name=name}}

{{/if}}










   












