
<p class="header" id="header">we see you {{name}}</p>
<div class="headline">PLAY 4 US NOW {{name}}</div>

<div class="frontpage">

        <img class="right strip" src="/assets/goddessvanessa.gif">
        <div>
            <p>check out our lovely performers and their services</p>
        <div class="row">
        <div class="performers column">
                {{#performers}}
                    <div class="performer">
                        <img class="thumbnail"src="/assets/goddessvanessa.gif">
                        <p>{{name}}{{service}}</p>
                    </div>
                {{/performers}}
        </div>
        <div class="performers column">
                {{#performers2}}
                    <div class="performer">
                        <img class="thumbnail" src="/assets/goddessvanessa.gif">
                        <p>{{name}}{{service}}</p>
                    </div>
                {{/performers2}}
        </div>
        </div>
        </div>



        <img class="left strip" src="/assets/goddessvanessa.gif">

    </div>
   
{{#if captcha}}
    {{>captcha}}
{{/if}}

{{>popup query="/turnon" headline='NEW FOR' name=name question="what turns you on?" answer1="feet" answer2="humiliation" answer3="control" answer4="your reflection"}}" 




