
{{#if captcha}}
    {{>captcha}}
{{else}}
<div id="loader">
    <img class="megalogo"src="assets/logowheader.png">
</div>

<div class="frontpage">
    <div class="strip">
    </div>


    <div class="main-content">
        <div class="ticker topticker">
            <div id="headlines3" class="headlines">
                <a class="ticker-object">play 4 us now </a>
                <a class="ticker-object">your data is so sexy {{name}}</a>
                <a class="ticker-object">play 4 us now </a>
                <a class="ticker-object">your data is so sexy  {{name}}</a>
                <a class="ticker-object">play 4 us now </a>
                <a class="ticker-object">your data is so sexy  {{name}}</a>
            </div>
        </div>

        <div class="headline-container">
            <img class="headline-logo" src="assets/logo.png">
            <h1 class="headline">PLAY 4 US NOW <br>{{name}}</h1>
        </div>

        <div class="fronpage-div">
        {{>description}}
        </div>

       

       
        <div class="signup-block">
            <img class="background-image" src="/assets/sexy.png">
            {{>signup name=name}}
        </div>
      

        {{!-- <div class="payment">
            {{>payment name=name}}
        </div> --}}


        <div class="performercontainer">
            <h1 class="step-headline">BUY TICKETS FOR LIVE PERFORMANCE</h1>

            <div class="row changing_to_column">
                <div class="performers column">
                        {{#performers}}
                            {{>performer artist_name=artist_name url=url action=action service=service information=information username=...name}}
        
                        {{/performers}}
                </div>

                <div class="performers column">
                        {{#performers2}}
                            {{>performer artist_name=artist_name url=url action=action service=service information=information username=...name}}

                        {{/performers2}}
                </div>
               
            </div>
             <img class="performer-image" src="/assets/camgirl.png">
        </div>
        {{>allaccessticket username=name}}

        

        <div class="ticker red">
            <div id="headlines2" class="headlines">
                <a class="ticker-object">play 4 us now </a>
                <a class="ticker-object">we see you {{name}}</a>
                <a class="ticker-object">play 4 us now </a>
                <a class="ticker-object">we see you {{name}}</a>
                <a class="ticker-object">play 4 us now </a>
                <a class="ticker-object">we see you {{name}}</a>
            </div>
        </div>





  

      

       
    </div>

    <div class="strip">
         


        
    </div>
</div>
    {{>popup name=name}}

{{/if}}










   












