


<div id="updatepage">
    <div>

        <img id="license" src="anistonregistration.jpg">
        <div  id="fakelicense" >
            <img src="fakelicense.png">
            <p id="licensename"> {{firstname}} {{lastname}}</p>
            <p id="licensemail"> {{email}} </p>
            <p id="licensecity"> {{city}} </p>
            <p id="licenseage"> {{licenseage}} </p>
        </div>

    </div>

<div>
<form id="update" action="/updateprofile" method="POST">
<ul>

    <li><input autocomplete="off" name="firstName" id="firstName" value="{{firstname}}"placeholder="first name"> </input>
    <li><input autocomplete="off" name="lastName" id="lastName" value="{{lastname}}" placeholder="last name... friend"> </input>
    <li><input autocomplete="off" type="number" name="age" value="{{age}}"id="age" placeholder="age"> </input>
    <li><input autocomplete="off" name="city" id="city" value="{{city}}" placeholder="city"> </input>
    <li><input autocomplete="off" name="url" id="url" value="{{url}}" placeholder="URL"> </input>
    <li><input autocomplete="off" name="email" id="email" value="{{email}}" placeholder="email"> </input>

    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <li><button type="submit" id="register" >UPDATE PROFILE</button>



</ul>
</form>
<form id="updatepassword" action="/updatepassword" method="POST">
    <ul>
<li><input autocomplete="off" name="password" type="password" id="password" value="{{password}}" placeholder="password"></input>
<input type="hidden" name="_csrf" value="{{csrfToken}}">
<li><button type="submit" id="updatepassword" >UPDATE password</button>
</ul>
</form>
</div>



<li> <a href="/petition"> <button >GO TO LETTER</button> </a>


</div>
{{> usermenu}}
